PORT=5001
NODE_ENV=development

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

JWT_SECRET=
JWT_EXPIRES_IN=7d

BREVO_API_KEY=
SENDER_EMAIL=
SENDER_NAME=MoodSnap

FRONTEND_URL=https://moodsnap-92ps.onrender.com
